.header {
    display: flex;
    justify-content: space-between;
}

.weekday {
    vertical-align: middle;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-size: cover;
    background-color: #077ba8;
}

.weekday button {
    width: 50px;
    height: 50px;
    margin: 10px;
    background-color: #87CEFA;
    color:black;
    border: none;    
    outline: none;
    border-radius: 50%;
    cursor: pointer;
}

#work {
    padding: 10px;
    padding-bottom: 4px;
    color: #F08080;
}

#rest {
    padding: 10px;
    color: #87CEFA;
}